<div class=login>
  <div class=card>
    <div class=card-block2>
    
        <h2 class="position3">Log in</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <br />
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
        
        
        <% if devise_mapping.rememberable? -%>   
          <div class="field">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">
                    <%= f.label :remember_me %>
              </span>
            </label>
          </div>
        <% end -%>       

          <br />
        <div class="actions">
          <%= f.submit "Log in", class: 'button3' %>
        </div>
      <% end %>
      <div class="line"></div>
      <div class="auth-links position3">
         <%= render "devise/shared/links" %>

      </div>

    </div>
  </div>
</div>  



